body{
    background-color: rgb(47, 158, 192);
}

.aueb-title{
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 2px 2px 0 black;
    color: #762124;
    text-align: center;
    border: 2px double orange;
}

